<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
  <div class="container-fluid">

    <div class="nav-left d-flex">
      <!-- LOGO -->
      <a class="navbar-brand" href="/listings">
        <i class="fa-regular fa-compass"></i>
      </a>

      <!-- EXPLORE  -->
      <div class="navbar-nav d-none d-md-flex">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
    </div>
    
    <!-- CENTER SEARCH -->
    <form class="d-flex search-form" role="search">
      <input class="form-control me-2 search-input" type="search" name="search" placeholder="Search destinations"/>
      <button class="btn search-btn d-flex align-items-center" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span class="d-none d-md-inline">Search</span>
      </button>
    </form>

    <!-- HAMBURGER -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- RIGHT SIDE -->
    <!-- COLLAPSIBLE MENU -->
    <div class="nav-right">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <!-- MOBILE EXPLORE -->
        <div class="navbar-nav d-md-none">
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser) { %>
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>

          <% if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>

        </div>

      </div>

    </div>

  </div>
    
</nav>  