.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: black !important; /* !important -> for custom styling override */
}

.nav-link:hover {
    color: #fe424d !important;
}