body {  /* Footer stick at bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;    /* keeps footer at bottom */
}

/* Navbar  */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: black !important; /* !important -> for custom styling override */
}

.nav-link:hover {
    color: #fe424d !important;
}

.navbar-collapse{
    background-color: white;
    padding: 1rem !important;
}

/* Footer  */

footer{
    background-color: #ebebeb;
    border-top: 1px solid black;
    padding: 1.5rem 0;  
}

.f-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
}

.f-info-socials a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    transition: 0.2s;
}

.f-info-socials a i:hover{
    transform: scale(1.1);  
}

.f-info-links a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    transition: 0.2s;
    margin-right: 0.6rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Cards (index)  */

.card{
    border: none !important;
    margin-bottom: 2rem;
    border-radius: 1rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 15rem;
}

.listing-link{
    text-decoration: none;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: 0.25s ease;
}

/* New Page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    opacity: 0.9;
}

.add-btn:hover {
    opacity: 1;
}

form textarea {
    resize: none;
}