body {  /* Footer stick at bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: black !important; /* !important -> for custom styling override */
}

.nav-link:hover {
    color: #fe424d !important;
}

footer{
    background-color: #ebebeb;
    border-top: 1px solid black;
    padding: 1.5rem 0;
    margin-top: auto;   /* keeps footer at bottom */
}

.f-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
}

.f-info-socials a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    transition: 0.2s;
}

.f-info-socials a i:hover{
    transform: scale(1.1);  
}

.f-info-links a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    transition: 0.2s;
    margin-right: 0.6rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}